<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= application_name %></title>
  <%%= stylesheet_link_tag    "application", :media => "all" %>
  <%%= javascript_include_tag "application" %>
  <%%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/"><%= application_name %></a>
        <div class="nav-collapse">
          <ul class="nav">
<% if options[:navbar] %>
            <li><%%= link_to "Home", "/" %></li>
<% app_tables.each do |table_name| -%>
            <li><%%= link_to "<%= table_name.humanize.titleize %>", "/<%= table_name %>" %></li>
<% end -%>
            <li><a href="#about">About</a></li>
<% end -%>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <%% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%%= notice %>
    </div>
    <%% end %>

    <%%= yield %>

    <hr>

    <footer>
      <p>&copy; Company 2012</p>
    </footer>

  </div>

</body>
</html>
